@model UD_Granit.ViewModels.Dissertation.Delete

@{
    ViewBag.Title = "Удаление диссертации";
}

<h2>Удаление записи о диссертации</h2>

@using (Html.BeginForm("Delete", "Dissertation"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <p>Вы действительно хотите удалить запись о диссертации <b>@Model.Title</b>?</p>
    
    <div class="control">
        <button>Да</button>
        @Html.ActionLink("Отмена", "Details", new { Id = Model.Id })
    </div>
}