@model IEnumerable<UD_Granit.Models.Dissertation>

@{
    ViewBag.Title = "Просмотр диссертаций";
}

<h2>@ViewBag.Title</h2>
<p>На этой странице Вы можете просмотреть список диссертаций, которые уже защищены, или будут защищены в ближайшее время. Для фильтрации полученной информации можно использовать поля определённых критериев поиска, которые расположены ниже.</p>
