@if (Session["User"] == null)
{
    <div class="section">
        <h3>Стать соискателем</h3>
        <p>Хотите зарегистрироваться как соискатель? Вы можете это сделать на <a href="@Url.Action("Register", "Account")">специальной странице</a>.</p>
    </div>
}