@using UD_Granit.Helpers

<div class="section">
    <h3>Авторизация</h3>
    @if (Session["User"] == null)
    {
        <p>Вы не авторизованы в системе. Чтобы выполнить вход, пожалуйста, введите свои учётные данные на <a href="@Url.Action("Login", "Account")">специальной странице</a>.</p>
    }
    else
    {
        <ul class="menu">
            <li>@Html.ActionLink("Информация о пользователе", "Details", "Account")</li>
            <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
        </ul>
    }
</div>
