<div class="section">
    <h3>Авторизация</h3>
    @if (Session["User"] == null)
    {
        <p>Вы не авторизованы в системе. Чтобы выполнить вход, пожалуйста, введите свои учётные данные на <a href="@Url.Action("Login", "Account")">специальной странице</a>.</p>
    }
    else
    {
        <p>Имя: @UD_Granit.Helpers.UserHelper.GetFullNameWithInitials(Session["User"] as UD_Granit.Models.User)</p>
        <p>Роль: @UD_Granit.Helpers.UserHelper.GetRole(Session["User"] as UD_Granit.Models.User).</p>
        @Html.ActionLink("Выход", "Logout", "Account")
    }
</div>
