<div class="section">
    <h3>Меню системы</h3>
    <ul class="menu">
        <li>@Html.ActionLink("Главная страница", "Index", "Home")</li>
        <li>@Html.ActionLink("Просмотр диссертаций", "Index", "Dissertation")</li>
        <li>@Html.ActionLink("Информация о совете", "Index", "Council")</li>
        <li>@Html.ActionLink("Пользователи системы", "Index", "Account")</li>
    </ul>
</div>
