@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/basic/main.css")
</head>
<body>
    @RenderBody()
</body>
</html>
