<div id="StyleChanger">
    Стиль отображения: @Html.ActionLink("Обычный", "Basic", "Style") | @Html.ActionLink("Упрощённый", "Lite", "Style")
</div>

<hgroup>
    <h1>@HttpContext.Current.Application["Name"]</h1>
    <h4>Автоматизированная система управления работой диссертационного совета</h4>
</hgroup>

