<div id="FooterLinks">
    <p>@Html.ActionLink("О системе", "About", "Home")</p>
    <p>@Html.ActionLink("Статистика", "Statistics", "Home")</p>
</div>

<p>&copy;&nbsp;2013 — Моисеев В.В. Все права защищены действующим законодательством России.</p>
<p>Любое копирование материалов с данного сайта разрешается при условии размещения ссылки на первоисточник.</p>