@if (ViewBag.UserNotification != null)
{
    UD_Granit.Helpers.NotificationManager notificationManager = ViewBag.UserNotification;
    if (notificationManager.Count > 0)
    {
        foreach (UD_Granit.Helpers.NotificationManager.Notify notify in ViewBag.UserNotification.Notifies)
        {
            <div class="@notify.Class">@Html.Raw(notify.Message)</div>
        }
    }
}