@using UD_Granit.Helpers

@if (Html.Notifications() != null)
{
    NotificationManager notificationManager = Html.Notifications();
    if (notificationManager.Count > 0)
    {
        foreach (NotificationManager.Notify notify in notificationManager.Notifies)
        {
            <div class="@notify.Class">@Html.Raw(notify.Message)</div>
        }
    }
}