<div style="float:right">
    @Html.ActionLink("Lite", "Lite", "Style") | @Html.ActionLink("Basic", "Basic", "Style")
</div>

<hgroup>
    <h1>@HttpContext.Current.Application["Name"]</h1>
    <h4>Автоматизированная система управления работой диссертационного совета</h4>
</hgroup>

