@{
    ViewBag.Title = "Ошибка";
}

<h2>Страница не найдена</h2>
<div class="PageImage">
    <img src="/Content/error.png" alt="" />
</div>
<p>Присносим свои извинения, однако страница, которую Вы пытаетесь открыть, не существует на сервере, либо у Вас нет прав на её просмотр.</p>
<p>Попробуйте перейти на <a href="/">главную страницу сайта</a> и заново повторить попытку доступа на эту страницу. Также можете попытаться перейти <a href="javascript:history.back(1)">назад</a> в истории посещений.</p>
<p>Если Вам кажется, что такой ошибки на этой странице быть не должно, обратитесь к администратору системы.</p>
