<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/lite/main.css")
</head>
<body>
    <header>
        @Html.Partial("_PartialHeader")
    </header>
    <article>
        @RenderBody()
    </article>
</body>
</html>
