body {
    background-color: #f0f0f0;
    background-image: url('../../background.png');
    padding: 0;
    margin: 0;
    font-size: 11pt;
}

p {
    margin-top: 0;
}

a {
    color: black;
}

    a:hover {
        color: #999;
    }

#MainWrapper {
    width: 968px;
    margin: 0 auto;
    /*padding: 5px;
    box-shadow: rgba(0,0,0,0.4) 0 0 10px;*/
}

header {
    height: 100px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: rgb(0,0,0) 0 0 10px;
}

hgroup {
    width: 968px;
    margin: 25px auto;
}

    hgroup * {
        padding: 0;
        margin: 0;
        font-family: Arial, Verdana;
    }

    hgroup h4 {
        font-weight: normal;
        font-style: italic;
        color: #999;
    }

aside {
    float: right;
    width: 200px;
    padding-left: 5px;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

    ul.menu a {
        text-decoration: none;
        color: black;
    }

        ul.menu a:hover {
            color: #999;
        }

.notify {
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
    border: 1px dashed #999;
}

.notify-error {
    color:red;
    border: 1px dashed red;
}

.notify-info {
    color: blue;
    border: 1px dashed blue;
}

article {
    margin-right: 215px;
    padding-top: 20px;
    background-color: white;
    padding: 10px 5px;
    box-shadow: rgba(0,0,0,0.2) 5px 5px;
}

    article h2 {
        font-family: Arial, Verdana;
        padding: 0;
        margin: 7px 0;
        font-size: 1.4em;
    }

.section {
    background-color: white;
    padding: 3px 5px;
    box-shadow: rgba(0,0,0,0.2) 5px 5px;
    margin-bottom: 15px;
}

    .section h3 {
        font-family: Arial, Verdana;
        padding: 0;
        margin: 7px 0;
        font-size: 1.2em;
        font-weight: normal;
        font-style: italic;
    }

footer {
    background-color: black;
    color: #999;
    margin-top: 20px;
    box-shadow: rgb(0,0,0) 0 0 10px;
}

    footer p {
        margin: 0;
    }

#FooterWrapper {
    width: 968px;
    padding: 30px 20px;
    margin: 0 auto;
}

.cb {
    clear: both;
}

.error {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 1px dashed red;
}

#ui-datepicker-div {
    font-size: 0.9em;
}