@{
    ViewBag.Title = "О системе";
}

<h2>Об этой системе</h2>
<p>Автоматизированная система управления диссертационным советом "Гранит" (далее — система) представляет собой программный продукт по автоматизации работы диссертационного совета.</p>
<p>Система разработана в рамказ курсовой работы по дисциплине "Управление данными".</p>

<h3>Используемые технологии</h3>
<ul>
    <li>ASP.NET MVC 4</li>
    <li>Entity Framework 6</li>
    <li>HTML 5</li>
    <li>CSS 3</li>
</ul>

<h3>Авторство</h3>
<p>Автором работы является студент группы ИСТбд-31 <em>Ульяновского Государственного Технического Университета</em> Моисеев Владислав.</p>

<h3>Цели создания системы</h3>
<ul>
    <li>Агрегация и предоставление полной информации о диссертационном совете, его членах и защищённых при нём диссертациях путём разме-щения системы в сети Интернет для ознакомления широкого круга лиц с работой совета.</li>
    <li>Реализация принципов объективности и гласности путём размещения в системе информации о проведённых заседаниях, а также их результатах широкому кругу лиц на основании требований положения «О совете по защите докторских и кандидатских диссертаций».</li>
    <li>Упрощение процедуры размещения текста диссертации и её автореферата соискателем на основании его обязанности публиковать их в сети Интернет, достижимое путём организации загрузки диссертаций в систему.</li>
</ul>

<h3>Полномочия пользователей</h3>
<h4>Неавторизованный пользователь может:</h4>
<ul>
    <li>просматривать тексты и авторефераты защищённых диссертаций, а также информацию об их авторах;</li>
    <li>просматривать информацию о диссертационном совете и его составе.</li>
</ul>

<h4>Соискатель в дополнение к функциям неавторизованного пользователя может из своего кабинета пользователя может:</h4>
<ul>
    <li>задавать учётные данные о диссертации (название, номер, автореферат), а также данные о научном руководителе;</li>
    <li>публиковать текст диссертации в системе;</li>
    <li>следить за результатами заседаний, связанных с его диссертацией;</li>
    <li>просматривать информацию о заседаниях, связанных с его диссертацией.</li>
</ul>

<h4>Член совета в дополнение к функциям неавторизованного пользователя может:</h4>
<ul>
    <li>просматривать, на каких заседаниях он был;</li>
    <li>просматривать информацию о соискателях, их диссертациях;</li>
    <li>просматривать информацию о прошедших заседаниях совета.</li>
</ul>

<h4>Учёный секретарь в дополнение к функциям члена совета может:</h4>
<ul>
    <li>создавать и редактировать учётные записи соискателей;</li>
    <li>создавать записи о предстоящих заседаниях диссертационного совета по рассмотрению или защите диссертаций;</li>
    <li>редактировать результаты заседаний.</li>
</ul>

<h4>Председатель учёного совета в дополнение к функциям члена совета может:</h4>
<ul>
    <li>создавать учетные записи членов диссертационного совета;</li>
    <li>редактировать информацию о диссертационном совете (номер, родительская организация, списки специальностей и отраслей науки);</li>
    <li>назначать учёного секретаря и заместителя председателя диссерта-ционного совета.</li>
</ul>

<h4>Администратор системы в дополнение к функциям председателя диссертационного совета может:</h4>
<ul>
    <li>управлять (создавать, редактировать, удалять) учётными записями;</li>
    <li>редактировать информацию о диссертационном совете (номер, родительская организация, списки специальностей и отраслей науки).</li>
</ul>
