@model UD_Granit.ViewModels.Home.Index

@{
    ViewBag.Title = "Главная страница";
}

<h2>@ViewBag.Title</h2>

<p>Добро пожаловать на главную страницу.</p>

<div style="overflow: hidden">
    <div style="float: left" class="MainBlock">
        <h3>Недавно прошедшие заседания</h3>
        @if ((Model != null) && (Model.SessionsWas != null) && (Model.SessionsWas.Count() > 0))
        {
#warning Добавить вывод, когда будут данные из контроллера
        }
        else
        {
            <p>Извините, в АСУРДС не было зарегестрировано ни одного прошедшего заседания.</p>
        }
    </div>
    <div style="float: right" class="MainBlock">
        <h3>Предстоящие заседания</h3>
        @if ((Model != null) && (Model.SessionsWill != null) && (Model.SessionsWill.Count() > 0))
        {
#warning Добавить вывод, когда будут данные из контроллера
        }
        else
        {
            <p>Извините, в диссерационном совете не запланировано заседаний.</p>
        }
    </div>
</div>

<h3>Состав диссертационного совета</h3>
@if ((Model != null) && (Model.Members != null) && (Model.Members.Count() > 0))
{
    <ul>
        @foreach (UD_Granit.ViewModels.Home.MemberView member in Model.Members)
        {
            <li>@member.FullName (@member.Position)</li>
        }
    </ul>
}
else
{
    <div class="error">Извините, данные о составе диссертационного совета ещё не заполнены.</div>   
}
