@model UD_Granit.ViewModels.Home.Index

@{
    ViewBag.Title = "Главная страница";
}

<div class="PageImage">
    <img src="/Content/study.png" alt="" />
</div>
<h2>Добро пожаловать на главную страницу!</h2>
<p>Вы попали на web-сайт автоматизированной системы управления работой диссертационного совета "Гранит". Здесь Вы можете посмотреть защищённые диссертации, а также деятельность о данном диссертационном совете. Приятного просмотра!</p>

<div style="overflow: hidden">
    <div style="float: left" class="MainBlock">
        <h3>Недавно прошедшие заседания</h3>
        @if ((Model != null) && (Model.SessionsWas != null) && (Model.SessionsWas.Count() > 0))
        {
            <ul>
                @foreach (UD_Granit.Models.Session currentSession in Model.SessionsWas)
                {
                    <li>@(currentSession.Date). @currentSession.Dissertation.Title</li>
                }
            </ul>
        }
        else
        {
            <p>Извините, в АСУРДС не было зарегестрировано ни одного прошедшего заседания.</p>
        }
    </div>
    <div style="float: right" class="MainBlock">
        <h3>Предстоящие заседания</h3>
        @if ((Model != null) && (Model.SessionsWill != null) && (Model.SessionsWill.Count() > 0))
        {
            <ul>
                @foreach (UD_Granit.Models.Session currentSession in Model.SessionsWill)
                {
                    <li>@(currentSession.Date). @currentSession.Dissertation.Title</li>
                }
            </ul>
        }
        else
        {
            <p>Извините, в диссерационном совете не запланировано заседаний.</p>
        }
    </div>
</div>

@if (Model.HaveExampleData)
{
    <h3>Тестовый доступ к системе</h3>
    <p>Вы можете использовать следующие учетные данные для демонстрации функциональности системы:</p>
    <table>
        <thead>
            <tr>
                <td>Электронный почтовый ящик</td>
                <td>Пароль</td>
                <td>Роль в системе</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@@localhost</td>
                <td>admin</td>
                <td>Администратор системы</td>
            </tr>
            <tr>
                <td>applicant[1..10]@@localhost</td>
                <td>applicant</td>
                <td>Соискатель</td>
            </tr>
            <tr>
                <td>member9@@localhost</td>
                <td>password</td>
                <td>Рядовой член совета</td>
            </tr>
            <tr>
                <td>member5@@localhost</td>
                <td>password</td>
                <td>Заместитель председателя</td>
            </tr>
            <tr>
                <td>member4@@localhost</td>
                <td>password</td>
                <td>Учёный секреьарь</td>
            </tr>
            <tr>
                <td>member8@@localhost</td>
                <td>password</td>
                <td>Председатель совета</td>
            </tr>
        </tbody>
    </table>
}
