@model UD_Granit.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Информация о пользователе</h2>

<h3>@UD_Granit.Helpers.UserHelper.GetFullName(Model)</h3>
<h4>@UD_Granit.Helpers.UserHelper.GetRole(Model)</h4>

@using UD_Granit.Helpers
@if ((Session.GetUser() is UD_Granit.Models.Administrator) ||
    (Session.GetUserPosition() == UD_Granit.Models.MemberPosition.Chairman))
{
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.User_Id }) |
        @Html.ActionLink("Удалить", "Delete", new { id = Model.User_Id })
    </p>
}
