@model UD_Granit.ViewModels.Account.Details

@{
    ViewBag.Title = "Details";
}

<h2>Информация о пользователе</h2>

<h3>@Model.FullName</h3>
<h4>@Model.Role</h4>

@using UD_Granit.Helpers
@if (Model.CanControl)
{
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.User_Id }) |
        @Html.ActionLink("Удалить", "Delete", new { id = Model.User_Id })
    </p>
}
