@model UD_Granit.ViewModels.Account.Register

@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация в системе.</h2>
<p>Нажмите на соответствующую кнопку ниже для создания пользователя с определённой ролью внутри системы.</p>
<p>Процесс регистрации довольно прост. После нажатия на кнопку откроется страница с формой регистрации, где необходимо ввести соответствующие данные. Некоторые поля обязательны для заполнения (например, электронный почтовый ящик, пароль и другие), некоторые необязательны.</p>

<div class="control">
    @if (Model.CanRegisterApplicant)
    {
        @Html.ActionLink("Соискатель на получение степени кандидата", "RegisterApplicantCandidate")
        @Html.ActionLink("Соискатель на получение степени доктора", "RegisterApplicantDoctor")
    }
    @if (Model.CanRegisterMember)
    {
        @Html.ActionLink("Член совета", "RegisterMember")
    }
    @if (Model.CanRegisterAdministrator)
    {
        @Html.ActionLink("Администратор", "RegisterAdministrator")
    }
</div>
