@model UD_Granit.ViewModels.Session.Index

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model.SessionsWas.Count > 0)
{
    <h3>Проведённые заседания</h3>
}
@if (Model.SessionsWill.Count > 0)
{
    <h3>Непроведённые заседания</h3>
}
